mule-spk14-exercise1/src/main/app/mule-spk14-exercise1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:generic-config name="Generic_Database_Configuration" url="jdbc:h2:tcp://10.134.134.40/formacion6;MODE=Oracle;IFEXISTS=TRUE;USER=sa" driverClassName="org.h2.Driver" useXaTransactions="true" doc:name="Generic Database Configuration">
        <db:pooling-profile maxPoolSize="20"/>
    </db:generic-config>
    
    <flow name="mule-spk14-exercise1Flow">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0 0 1 1 ? *"/>
            <watermark variable="maxId" default-expression="-1" selector="MAX" selector-expression="#[payload.ID]"/>
            <db:select config-ref="Generic_Database_Configuration"  doc:name="Copy_of_Oracle">
                <db:parameterized-query><![CDATA[select *
from USUARIOS
where id > #[maxId]]]></db:parameterized-query>
            </db:select>
            
        </poll>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
        <file:outbound-endpoint path="C:\Users\usuario\Desktop\temporal" outputPattern="archivo.xml" responseTimeout="10000" doc:name="File"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        
    </flow>
</mule>
