batch_examples/src/main/app/crear_csv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <data-mapper:config name="usuario2csv" transformationGraphPath="usuario2csv.grf" doc:name="usuario2csv"/>
    <flow name="crear_csvFlow">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0 0 1 1 ? *"/>
            <set-payload value="#[new batch_examples.FuenteUsuarios(100000)]" doc:name="payload: fuente usuarios"/>
        </poll>
        <data-mapper:transform config-ref="usuario2csv" stream="true" doc:name="usuario2csv"/>
        <file:outbound-endpoint path="${dir}" outputPattern="usuarios.csv" responseTimeout="10000" doc:name="out-file_ usuarios.csv" connector-ref="File_out_noAppend"/>
    </flow>
</mule>
