mule-spk10-proxy/src/main/app/mule-spk10-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hello-world="http://www.mulesoft.org/schema/mule/hello-world" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/hello-world http://www.mulesoft.org/schema/mule/hello-world/current/mule-hello-world.xsd">
	
	<flow name="RESTproxy_template_Flow1" >
		<http:inbound-endpoint address="http://localhost:8082"
			exchange-pattern="request-response" doc:name="HTTP" />
		<set-property propertyName="http.disable.status.code.exception.check"
			value="true" doc:name="Disable Exception Check" />
		<flow-ref name="copy-headers" doc:name="copy-headers" />
		<http:outbound-endpoint exchange-pattern="request-response"
			address="http://localhost:8081#[message.inboundProperties['http.request']]"
			doc:name="Send Requests to API" method="GET"/>
		<flow-ref name="copy-headers" doc:name="copy-headers" />
	</flow>
	<sub-flow name="copy-headers" >
		<copy-properties propertyName="*" doc:name="Copy All HTTP Headers" />
		<remove-property propertyName="Content-Length"
			doc:name="Remove Content Length" />
		<remove-property propertyName="MULE_*" doc:name="Remove MULE Properties" />
		<remove-property propertyName="X_MULE*"
			doc:name="Remove X_MULE Properties" />
		<remove-property propertyName="X-MULE*"
			doc:name="Remove X-MULE Properties" />
	</sub-flow>
    <flow name="mule-spk10-proxyFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" path="direcciones" doc:name="HTTP"/>
        <cxf:proxy-service namespace="urn:test-formacion:Direcciones" service="DireccionesService" payload="body" wsdlLocation="classpath:direcciones.wsdl" doc:name="CXF"/>
        <cxf:proxy-client payload="body" doc:name="CXF"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="10.134.134.40" port="8081" path="direcciones" method="POST" doc:name="HTTP"/>
    </flow>
</mule>
