mule-spk10-proxy/target/classes/mule-spk10-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="RESTproxy_template_Flow1" >
		<http:inbound-endpoint address="http://localhost:8082"
			exchange-pattern="request-response" doc:name="HTTP" />
		<set-property propertyName="http.disable.status.code.exception.check"
			value="true" doc:name="Disable Exception Check" />
		<flow-ref name="copy-headers" doc:name="Copy HTTP Headers" />
		<http:outbound-endpoint exchange-pattern="request-response"
			address="http://localhost:8081#[message.inboundProperties['http.request']]"
			doc:name="Send Requests to API" method="GET"/>
		<flow-ref name="copy-headers" doc:name="Copy HTTP Headers" />
	</flow>
	<sub-flow name="copy-headers" >
		<copy-properties propertyName="*" doc:name="Copy All HTTP Headers" />
		<remove-property propertyName="Content-Length"
			doc:name="Remove Content Length" />
		<remove-property propertyName="MULE_*" doc:name="Remove MULE Properties" />
		<remove-property propertyName="X_MULE*"
			doc:name="Remove X_MULE Properties" />
		<remove-property propertyName="X-MULE*"
			doc:name="Remove X-MULE Properties" />
	</sub-flow>
</mule>
