transaction_examples/src/main/app/trans1_ep.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="trans1_epFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="1" doc:name="HTTP"/>
        <expression-component doc:name="expr: entrada test"><![CDATA[sessionVars.id= message.inboundProperties.'http.query.params'.id;
sessionVars.fail = "1"== message.inboundProperties.'http.query.params'.fail;
payload="Mensaje desde trans1_ep.xml";]]></expression-component>
        <logger level="INFO" doc:name="Antes VM-OUT"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="trans1_ep" doc:name="VM"/>
    </flow>
    <flow name="trans1_epFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="trans1_ep" doc:name="VM">
            <xa-transaction action="ALWAYS_BEGIN"/>
        </vm:inbound-endpoint>
        <logger level="INFO" doc:name="Logger" category="formacion.mule[trans1_epFlow1]]" message="on transaction, before jms"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="trans" connector-ref="Active_MQ" doc:name="JMS">
            <xa-transaction action="ALWAYS_JOIN"/>
        </jms:outbound-endpoint>
        <logger level="INFO" doc:name="Logger" category="formacion.mule[trans1_epFlow1]]" message="after jms, before sql"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into usuarios(ID,SEXO,NOMBRE,APELLIDO1,APELLIDO2,FN)
values (#[sessionVars.id],'M','Pepa','Pig','Core dumped','2010-01-01')]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger" category="formacion.mule[trans1_epFlow1]]" message="after sql..."/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.fail]">
        		<logger level="INFO" doc:name="Logger" category="formacion.mule[trans1_epFlow1]]" message="About to fail!"/>
                <scripting:component doc:name="Groovy: RuntimeException">
                    <scripting:script engine="Groovy"><![CDATA[throw new RuntimeException("Forced FAIL!");]]></scripting:script>
                </scripting:component>
            </when>
            <otherwise>
        		<logger level="INFO" doc:name="Logger" category="formacion.mule[trans1_epFlow1]]" message="Done, commit!"/>
                <logger message="COntinue: commit!" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>

</mule>
