mule-spk8-rest/target/classes/mule-spk8-rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="Copy_of_get:/paises:direcciones-config">
        <expression-component doc:name="Copy_of_Expression"><![CDATA[payload= new es.corpme.mule.db.Page();

payload.page=message.inboundProperties.get("http.query.params").get("numPagina");
payload.size=message.inboundProperties.get("http.query.params").get("tamPagina");

payload.page=payload.page == null? 0 : payload.page;
payload.size= payload.size == null? 10 : payload.size;]]></expression-component>
        <set-variable variableName="page" value="#[payload]" doc:name="Copy_of_Variable"/>
        <logger message="page: #[page.page] size: #[page.size] " level="INFO" doc:name="Copy_of_Logger"/>
        <ee:cache cachingStrategy-ref="Caching_Strategy" doc:name="Copy_of_Cache">
            <db:select config-ref="Oracle_Configuration" doc:name="Copy_of_Database">
                <db:parameterized-query><![CDATA[select COD_ISO,NOMBRE,ID_ISO 
from ( 
	select q.*, rownum ROWNUM_ 
	from (
		select COD_ISO,NOMBRE,ID_ISO 
		from pais 
		order by nombre asc) q 
	where rownum <= #[(page.page + 1) * page.size] )
where ROWNUM_ > #[page.page * page.size]]]></db:parameterized-query>
            </db:select>
            <set-payload value="#[new es.corpme.mule.db.DbPaisesMapper().map(page, payload)]" doc:name="Copy_of_Set Payload"/>
            <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
            <json:object-to-json-transformer doc:name="Copy_of_Object to JSON"/>
        </ee:cache>
    </flow>
</mule>
